/* Error: Expected identifier.
 *    ,
 * 31 | @mixin @respond ($breakpoint) {
 *    |        ^
 *    '
 *   sass/abstracts/_mixins.scss 31:8  @import
 *   sass/main.scss 2:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 31 \2502  @mixin @respond ($breakpoint) {\a    \2502         ^\a    \2575 \a   sass/abstracts/_mixins.scss 31:8  @import\a   sass/main.scss 2:9                root stylesheet";
}
